<section class="page-section about-heading">
    <div class="container">

        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper text-info">Kasa Takip Sistemi</span>
                            <span class="section-heading-lower text-info">  Web Application</span>
                        </h2>
                        <p class="text-danger">Kocaeli Üniversitesi Bilgisayar Programcılığı Proje Ödevi.</p>
                        <p class="mb-1 text-primary">
                          
                            <em class="text-lg-center text-primary">Proje</em>
                           Demirsorf Veresiye-9 programı örnek alınarak yapılmıştır. Projede bu otomasyon programının kasa işlemlerinde bulunan
                            işlemler eklenmiştir.Program Asp.Net.Framework.MVC kullanılarak yapılmış ve boostrap eklenerek tasarlanmıştır.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>